
{% extends 'page.twig' %}


{% block commentedPageName %}Projects{% endblock %}
{% block cssClassName %}projects{% endblock %}

{% block content %}
	
	<br><br><br>
	{{ title }}<br>
	desktop page content / {{ Lang.LANG }}
	<br><br>
	<a href="{{ Router.LINK.project.proj1 }}" class="proj-link">Project 1</a><br>
	<a href="{{ Router.LINK.project.proj2 }}" class="proj-link">Project 2</a><br>
	<a href="{{ Router.LINK.project.proj3 }}" class="proj-link">Project 3</a><br>
	<br>
	<img src="{{ Path.URL.img }}temp/projects.jpg" alt="{{ title }}">
	<br><br><br><br>
	
{% endblock %}