	
	</div>  <!-- End #page-container -->
	
	<!-- Footer -->
	<footer id="footer">
		{% if Lang.MULTI_LANG %}
		<nav class="footer-lg">
			{% for lang, altLangUrl in Router.ALT_LANG_URL %}
			<a href="{{ altLangUrl }}" class="footer-lg-link" data-lg="{{ lang }}">{{ lang }}</a>
			{% endfor %}
		</nav>
		{% endif %}
		<nav>
			<ul>
				<li>
					<a href="{{ Router.LINK.statics.legalNotices }}" class="footer-link">
						{{ menu.legals }}
					</a>
				</li>
			</ul>
		</nav>
	</footer>
	
	{{ include( 'no-js.twig' ) }} {# no JS #}
	
	{{ include( 'old-browser.twig' ) }} {# old browser #}
	
</div> <!-- End #main-container -->


{# JS var #}
{{ include( 'js-var.twig' ) }}

{# JS scripts #}
{{ Path.JS_FILES[ 'scripts-desktop' ]|raw }} 


</body>
</html>