<!DOCTYPE html>
<!--[if lt IE 7]>	<html dir="ltr" lang="{{ Lang.LANG }}" class="no-js ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 7]>		<html dir="ltr" lang="{{ Lang.LANG }}" class="no-js ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]>		<html dir="ltr" lang="{{ Lang.LANG }}" class="no-js ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]>		<html dir="ltr" lang="{{ Lang.LANG }}" class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gte IE 9) | !(IE)]><!--><html dir="ltr" lang="{{ Lang.LANG }}" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	
	<title><?php echo PagesController::$PAGE_INFOS->title; ?></title>
	<meta name="description" content="<?php echo PagesController::$PAGE_INFOS->desc; ?>" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="{{ metas.author }}" />
	<meta name="designer" content="{{ metas.designer }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- echo $this- path- getAltLangUrlMeta(); -->
	
	<!-- Social share -->
	{{ include( 'social-share.twig' ) }}
	
	<!-- Favicons -->
	{{ include( 'favicons.twig' ) }}
	
	<link media="screen" rel="stylesheet" type="text/css" href="{{ Path.URL.css }}styles-desktop.min.css" />
	
	<!-- [if lt IE 9]><script src="{{ Path.URL.js }}vendor/html5shiv.min.js"></script><![endif] -->
	
	<!-- Modernirz & Detectizr -->
	<!-- echo $this- path- getJsFilesUrl( 'header' ); -->
	
	<!-- Google Analytics -->
	{{ include( 'google-analytics.twig' ) }}
	
</head>

<body>


{{ include( 'svg.twig' ) }}


<!-- Main container -->
<div id="main-container" class="preload lang-{{ Lang.LANG }}">
	
	<!-- Main loader -->
	<div id="main-loader" class="init">
		<div class="main-loader-container">
			<div class="main-loader-percentage"></div>
			<div class="main-loader-progress"></div>
			<div class="main-loader-loading">
				<div class="main-loader-loading-square-container">
					<div class="main-loader-loading-square"></div>
					<div class="main-loader-loading-square"></div>
					<div class="main-loader-loading-square"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Header -->
	<header id="header">
		<!-- Menu -->
		<nav id="menu">
			<ul>
				<li>
					<a href="{{ Router.LINK.statics.home }}" class="menu-link">
						{{ menu.home }}
					</a>
				</li>
				<li>
					<a href="{{ Router.LINK.statics.about }}" class="menu-link">
						{{ menu.about }}
					</a>
				</li>
				<li>
					<a href="{{ Router.LINK.statics.projects }}" class="menu-link">
						{{ menu.projects }}
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<!-- Page container -->
	<div id="page-container">
		