
{% if Device.IS_OLD_BROWSER %}
	
	<!-- Old browser -->
	<div id="old-browser">
		<div class="container">
			<div class="alt-title">{{ oldB.title }}</div>
			<p>{{ oldB.desc|raw }}</p>
			<div class="browsers">
				<a href="http://www.google.com/chrome" target="_blank" class="chrome">
					<img src="{{ Path.URL.img }}logos/browsers/browser-chrome.png" alt="Chrome" class="alt-logo">
					<div class="alt-subtitle">Chrome</div>
					<p>{{ oldB.download }}</p>
				</a>
				<a href="http://www.mozilla.org/firefox" target="_blank" class="firefox">
					<img src="{{ Path.URL.img }}logos/browsers/browser-firefox.png" alt="Firefox" class="alt-logo">
					<div class="alt-subtitle">Firefox</div>
					<p>{{ oldB.download }}</p>
				</a>
				<a href="http://www.apple.com/safari" target="_blank" class="safari">
					<img src="{{ Path.URL.img }}logos/browsers/browser-safari.png" alt="Safari" class="alt-logo">
					<div class="alt-subtitle">Safari</div>
					<p>{{ oldB.download }}</p>
				</a>
				<a href="http://www.opera.com/download" target="_blank" class="opera">
					<img src="{{ Path.URL.img }}logos/browsers/browser-opera.png" alt="Opera" class="alt-logo">
					<div class="alt-subtitle">Opera</div>
					<p>{{ oldB.download }}</p>
				</a>
				<a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie" target="_blank" class="ie">
					<img src="{{ Path.URL.img }}logos/browsers/browser-internet-explorer.png" alt="Internet Explorer" class="alt-logo">
					<div class="alt-subtitle">Internet Explorer</div>
					<p>{{ oldB.download }}</p>
				</a>
			</div>
		</div>
	</div>

{% endif %}
