<!DOCTYPE html>
<html dir="ltr" lang="{{ Lang.LANG }}" class="no-js">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	
	<title>{{ metas.title }}</title>
	<meta name="description" content="{{ metas.desc }}" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="{{ metas.author }}" />
	<meta name="designer" content="{{ metas.designer }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	{% for lang, altLangUrl in Router.ALT_LANG_URL %}
	<link rel="alternate" href="{{ altLangUrl }}" hreflang="{{ lang }}" />
	{% endfor %}
	
	{# Social share #}
	{% include 'social-share.twig' %}
	
	{# Favicons #}
	{% include 'favicons.twig' %}
	
	<link media="screen" rel="stylesheet" type="text/css" href="{{ Path.URL.css }}styles-mobile.min.css" />
	
	<!-- Modernirz & Detectizr -->
	{{ Path.JS_FILES.header|raw }}
	
	{# Google Analytics #}
	{% include 'google-analytics.twig' %}
	
</head>

<body>


{% include 'svg.twig' %}


<!-- Main container -->
<div id="main-container" class="preload lang-{{ Lang.LANG }}">
	
	{% include 'main-loader.twig' %}
	
	<!-- Header -->
	<header id="header">
		<!-- Menu -->
		<nav id="menu">
			<ul>
				<li>
					<a href="{{ Router.LINK.home }}" class="menu-link" data-link-id="home">
						{{ menu.home }}
					</a>
				</li>
				<li>
					<a href="{{ Router.LINK.about }}" class="menu-link" data-link-id="about">
						{{ menu.about }}
					</a>
				</li>
				<li>
					<a href="{{ Router.LINK.projects }}" class="menu-link" data-link-id="projects">
						{{ menu.projects }}
					</a>
				</li>
			</ul>
		</nav>
	</header>
	
	<!-- Page container -->
	<div id="page-container">
		