
<!-- About -->
<section id="page" class="about">
	
	<br><br><br>
	{{ title }}<br>
	desktop page content / {{ Lang.LANG }}
	<br><br>
	<img src="{{ Path.URL.img }}temp/about-1.jpg" alt="{{ title }}">
	<br>
	<img src="{{ Path.URL.img }}temp/about-2.jpg" alt="{{ title }}">
	<a href="{{ Path.URL.link.about }}#test" class="ramon">test</a>
	<br><br><br><br>
	
</section>
