
{% extends 'page.twig' %}


{% block title %}Projects{% endblock %}
{% block cssClassName %}projects{% endblock %}

{% block content %}
	
	<br><br><br>
	{{ title }}<br>
	desktop page content / {{ Lang.LANG }}
	<br><br>
	<a href="{{ Path.URL.base ~ Lang.LANG }}/projet/proj-1">Project 1</a><br>
	<a href="{{ Path.URL.base ~ Lang.LANG }}/projet/proj-2">Project 2</a><br>
	<a href="{{ Path.URL.base ~ Lang.LANG }}/projet/proj-3">Project 3</a><br>
	{# <img src="{{ Path.URL.img }}temp/projects.jpg" alt="{{ title }}"> #}
	<br><br><br><br>
	
{% endblock %}